<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
        <File name="SearchSuccessful" filename="src/main/resources/successfulConnect.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="Errors" fileName="src/main/resources/errorsSite.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="site.found" level="info">
            <appender-ref ref="SearchSuccessful" level="info"/>
        </Logger>
        <Root level="error">
            <appender-ref ref="Errors" level="error"/>
        </Root>
    </Loggers>
</Configuration>